apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-qa-pvc
  namespace: posttrade-qa
spec:
  storageClassName: oci-bv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
